<!-- card -->
<div class="car-card">
    <div class="top-section">
        <img class="user-car" src="" alt="">

        <div class="car-detail1">
            <div class="car-action-btn">
                <img src="images/stats-icon.svg" alt="stats icon">
                <img src="images/edit-icon.svg" alt="stats icon">
            </div> <!-- .car-action-btn -->

            <h3 class="car-name"><!-- gets name and type icon --></h3>

            <p class="date"><!-- gets date --></p>

            <div class="car-rating"><!-- gets rating --></div>
        </div> <!-- .car-detials1 -->  
    </div>
    <div class="bottom-section">
        <section>
            <p class="text-left">Brand: </p> <p class="text-right card-brand"><!-- gets brand --></p>
        </section>
          
        <section>
            <p class="text-left">model: </p> <p class="text-right card-model"><!-- gets model --></p>
        </section>
        
        <section>
            <p class="text-left">color: </p> <p class="text-right card-color"><!-- gets color --></p>   
        </section>
            
        <section>
            <p class="text-left">Desc: </p>  <p class="text-right card-description"><!-- gets description --></p>
        </section>
    </div>
</div>
<!-- /card -->